canvas {
	width: 100%;
	height: auto;
}

#games-table{
	height:300px;
	overflow-y:scroll;
	width:100%;
}

td.boardcell {
	background-color: white;
	/*color: black;*/
	/*this will make the link take up the whole table cell's width/height*/
	/*display: block;*/
}
td.boardcell:hover {
	background-color; blue;
	/*color: white;*/
}