
{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Multogo</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status: <span id="status">Joining</span></h3>
                </div>
                <div class="panel-body">
					<table style="border-collapse:collapse;" border="1" width="100%">
						<td width="8%" valign="top">
							<table align="center" id="players" style="text-align:center; border-collapse:collapse;" border="1"></table>
						</td>
						<td width="52%">
							<table align="center" id="board" style="cursor:pointer; text-align:center; border-collapse:collapse;" border="1"></table>
						</td>
						<td width="40%">
							<textarea id="chatbox" rows="10" style="width:100%; max-width: 100%;" placeholder="Chat"></textarea>
							<form action="javascript:void(0);" onsubmit="btnSendChat()">
								<input type="submit" value="Send" style="float:right"/>
								<div style="overflow:hidden;">
									<input id="chatinput" type="text" autocomplete="off" style="width:100%;"/>
								</div>
							</form>
						</td>
					</table>
					<input id="info" type="text" style="width:100%;"></input>
					<button id="btnStartGame" style="display:none;" onclick="btnStartGame()">Start Game</button>
					<button id="btnPlaceStone" style="display:none;" onclick="btnPlaceStone()">Place Stone</button>
					<div style="display:none;">
						<textarea name="cmdinfo" rows="20" style="width:100%; max-width: 100%;" placeholder="Returned Command Data"></textarea>
						<textarea name="cmddata" rows="2" style="width:100%; max-width: 100%;" placeholder="Command Data"></textarea>
						<button onclick="sendCmd()">Send Cmd</button>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

var boardWidth = 0;
var boardHeight = 0;

var dumby = "4,3,.2.....S...L";
var dumby2 = "4,3,....J..H...K";

//alert("Loading");

var selectedCellX = -1;
var selectedCellY = -1;
var selectedPlayerCell = undefined;

function btnPlaceStone() {
	player.send_command("move", selectedCellX+" "+selectedCellY);
}

function btnStartGame() {
	player.send_command("startgame");
}

function btnSendChat() {
	var text = document.getElementById("chatinput").value.replace(/^\s+/, "").replace(/\s+$/, "");
	if (text != "") {
		player.send_command("chat", text);
	}
	document.getElementById("chatinput").value = "";
	return false;
}

function unlockLobbyControls() {
	document.getElementById("btnStartGame").style.display = "";
}

function getCellOfTypeInRow(row, type) {
	var cells = row.getElementsByTagName("td");
	for (var i = 0; i < cells.length; i++) {
		if (cells[i].cellType == type) {
			return cells[i];
		}
	}
	return undefined;
}

function playerCellClicked() {
	if (this.playerId == selectedPlayerCell) {
		this.style.backgroundColor = "";
		selectedPlayerCell = undefined;
		return;
	}
	if (selectedPlayerCell != undefined) {
		var selectedPlayerRow = document.getElementById("player"+selectedPlayerCell);
		getCellOfTypeInRow(selectedPlayerRow, "C").style.backgroundColor = "";
	}
	selectedPlayerCell = this.playerId;
	this.style.backgroundColor = "#55BBFF";
}

function redrawPlayers(data) {
	selectedPlayerCell = undefined;
	var playerData = data.split(",");
	
	var playerTable = document.getElementById("players");
	
	while (playerTable.firstChild) {
		playerTable.removeChild(playerTable.firstChild);
	}
	
	for (var i = 0; i < playerData.length; i++) {
		var playerDataElements = playerData[i].split("-");
		var playerDataSymbol = playerDataElements[0];
		var playerDataStatus = playerDataElements[1];
		var playerDataType = playerDataElements[2];
		var tr = document.createElement('tr');
		tr.id = "player" + playerDataSymbol;
		tr.style.backgroundColor = playerDataStatus == "A" ? "" : "#FF0000";
		var tdA = document.createElement('td');
		tdA.playerId = playerDataSymbol;
		tdA.cellType = "A";
		tdA.width = 16;
		tdA.innerHTML = playerDataStatus == "A" ? "" : playerDataStatus;
		tr.appendChild(tdA);
		var tdC = document.createElement('td');
		tdC.style.cursor = "pointer";
		tdC.playerId = playerDataSymbol;
		tdC.cellType = "C";
		tdC.width = 16;
		tdC.innerHTML = playerDataSymbol;
		tdC.addEventListener("click", playerCellClicked);
		tr.appendChild(tdC);
		var tdB = document.createElement('td');
		tdB.playerId = playerDataSymbol;
		tdB.cellType = "B";
		tdB.width = 16;
		tdB.innerHTML = playerDataSymbol == playerSymbol ? "<" : playerDataType;
		tr.appendChild(tdB);
		playerTable.appendChild(tr);
	}
}

function boardCellClicked() {
	if (this.innerHTML != ".") {
		return;
	}
	var allCells = document.getElementById("board").getElementsByTagName("td");
	var selectedCell = allCells[(selectedCellY*boardWidth)+selectedCellX];
	if (selectedCell != undefined) {
		selectedCell.style.backgroundColor = "";
	}
	//alert("i:"+this.i+" j:"+this.j);
	selectedCellX = this.i;
	selectedCellY = this.j;
	this.style.backgroundColor = "#55BBFF";
}

function redrawBoard(data) {
	selectedCellX = -1;
	selectedCellY = -1;
	var elements = data.split(",");
	boardWidth = parseInt(elements[0]);
	boardHeight = parseInt(elements[1]);
	var cells = [...elements[2]];
	
	var board = document.getElementById("board");
	
	while (board.firstChild) {
		board.removeChild(board.firstChild);
	}
	
	for (var j = 0; j < boardHeight; j++) {
		var tr = document.createElement('tr');
		for (var i = 0; i < boardWidth; i++) {
			var td = document.createElement('td');
			td.width = 16;
			td.innerHTML = cells[(j*boardWidth)+i];
			td.i = i;
			td.j = j;
			td.addEventListener("click", boardCellClicked);
			tr.appendChild(td);
		}
		board.appendChild(tr);
	}
}

// Wait until the DOM is loaded
window.addEventListener("DOMContentLoaded", function() {
	
});


var gameId = {{joinGameId}};
var websocketHostAddr = "{{websocketHostAddr}}";
player.init();
</script>
{% end %}
    


