<!DOCTYPE html>
<html>
<head>
    <title>Multi-Go - Lobby</title>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    
    <script src="js/lobby.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
        </head>
<body>
    <div class="container">
    <h1>Multi-go - Lobby</h1>

    <div class="row">
        <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Games:</h3>
            </div>
            <div id="games-table" class="panel-body">
                <table id="games" class="table table-hover" >
            <thead>
              <tr>
                <th>Game #</th>
                <th>Name</th>
                <th>Players</th>
                <th>Board Size</th>
              </tr>
            </thead>
            <tbody style="cursor:pointer">
              <tr>
                <td>1</td>
                <td>Game1</td>
                <td>2/8</td>
                <td>10x10</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacobs game</td>
                <td>5/16</td>
                <td>4x4</td>
              </tr>
              <tr>
                <td>3</td>
                <td>THEGAME</td>
                <td>1/2</td>
                <td>10x10</td>
              </tr>
            </tbody>
          </table>


            </div>
            </div>
        </div>
    </div>
        </div>
        {% for key in app.gameHandlers.keys() %}
        <div>some stuff</div>
        <span>that {{ key }}</span>
        <b>this {{app.gameHandlers[key]}}</b>
        {% end %}
    </body>
    <script>
    var ws = new WebSocket("ws://localhost:8888/websocket");
    ws.onopen = function() {
       ws.send("Hello, world");
    };
    ws.onmessage = function (evt) {
       alert(evt.data);
    };
    </script>

</html>
