{% block title %}Multi-go - Lobby{% end %}
{% block content %}
<div class="container">
    <h1>Multi-go - Lobby</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Games:</h3>
                </div>
                <div id="games-table" class="panel-body">
                    <table id="games" class="table table-hover" >
                        <thead>
                            <tr>
                                <th>Game #</th>
                                <th>Name</th>
                                <th>Players</th>
                                <th>Board Size</th>
                            </tr>
                        </thead>
                        <tbody style="cursor:pointer">
                            {% for key in app.gameHandlers.keys() %}
                                <tr>
                                    <td>{{app.gameHandlers[key].name}}</td>
                                    <td>{{app.gameHandlers[key].playersIn}}</td>
                                    <td>{{app.gameHandlers[key].playerMax}}</td>
                                    <td>{{app.gameHandlers[key].width}}x{{gameHandlers[key].height}}</td>
                                </tr>
                            {% end %}
                        </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
