{% extends "layout.html" %}
{% block title %}Multi-go - New Game{% end %}
{% block content %}
<form method="post">
	<input type="text" name="name" placeholder="Server Name" value="{{name}}"/>
	<input type="text" name="width" placeholder="Board Width" value="{{width}}"/>
	<input type="text" name="height" placeholder="Board Height" value="{{height}}"/>
	<input type="text" name="max_players" placeholder="Max Players" value="{{max_players}}"/>
	<input type="submit" value="Create Game"/>
</form>
{{error}}
{% end %}